# **Extraterrestrial Rocks: An Exploratory Data Analysis (EDA) of Meteorite Landings**

In [3]:
import folium
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import plotly.express as px
import seaborn as sns

# **Helper Functions**

In [5]:
def msgboxcenter(text):
    """
    Print multi-line message-box

    Parameters:
    ----------
    msg (str): Message box text

    Returns:
    ----------
    Message box
    """

    # Find the maximum line length in the text
    max_line_length = max(len(line) for line in text.split("\n")) + 8

    # Create the top border of the box
    top_border = "╔" + "═" * (max_line_length + 2) + "╗"

    # Create the bottom border of the box
    bottom_border = "╚" + "═" * (max_line_length + 2) + "╝"

    # Create the lines of text inside the box
    text_lines = text.split("\n")
    formatted_lines = ["║ " + line.center(max_line_length) + " ║" for line in text_lines]

    # Combine all the components to create the boxed text
    boxed_text = "\n".join([top_border] + formatted_lines + [bottom_border])

    print(boxed_text)


def inspect_dataframe(df):
    # Inspect data
    msgboxcenter("Data head - top 5 rows")
    display(df.head(5))
    print()

    # Gather basic information about the data
    msgboxcenter("Gather basic information about the data")
    display(df.info())
    print()

    # Inspect outliers
    msgboxcenter("Gather descriptive statistics about the data")
    display(df.describe())
    print()

    # Identify the number of rows and columns in the dataset.
    msgboxcenter("How many rows and columns are in the dataset?")
    print(f"Rows = {df.shape[0]}\nColumns = {df.shape[1]}")
    print()

    # Inspect Dtype
    msgboxcenter("Inspect data types")
    display(df.dtypes)
    print()
    print("-------")
    print()
    display(df.dtypes.value_counts())
    print()

    # Count unique and duplicated rows
    msgboxcenter("Are there any duplicate rows?\nCheck duplicates")
    print(df.duplicated().value_counts().to_string().replace("False", "Unique").replace("True", "Duplicated"))
    print()

    # Display column names and percentage of nulls
    msgboxcenter("Are there NaNs/Nulls in any columns?\nCheck missing values")
    column_null_counts = df.isnull().sum()
    column_total_counts = len(df)
    column_null_percentage = round((column_null_counts / column_total_counts) * 100, 0)
    column_null_info = pd.concat([ column_null_counts, column_null_percentage ], axis=1)
    column_null_info.columns = [ 'Null Count', 'Null Percentage']
    column_null_info_filtered = column_null_info[column_null_info['Null Count'] > 0]
    print(column_null_info_filtered.to_string())

    # Display column names and count with NaNs/Nulls
    msgboxcenter("Count inf in all columns")
    print(df[df == np.inf].count())
    print()

In [3]:
df0 = pd.read_csv("/kaggle/input/meteorite-landings-analysis/Meteorite_Landings.csv")
# Inspection
df0.head()

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,1880.0,50.77500,6.08333,"(50.775, 6.08333)"
1,Aarhus,2,Valid,H6,720.0,Fell,1951.0,56.18333,10.23333,"(56.18333, 10.23333)"
2,Abee,6,Valid,EH4,107000.0,Fell,1952.0,54.21667,-113.00000,"(54.21667, -113.0)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976.0,16.88333,-99.90000,"(16.88333, -99.9)"
4,Achiras,370,Valid,L6,780.0,Fell,1902.0,-33.16667,-64.95000,"(-33.16667, -64.95)"

# **Dataframe Information**

In [5]:
# Inspect dataframe
inspect_dataframe(df0)

╔════════════════════════════════╗
║     Data head - top 5 rows     ║
╚════════════════════════════════╝

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,1880.0,50.77500,6.08333,"(50.775, 6.08333)"
1,Aarhus,2,Valid,H6,720.0,Fell,1951.0,56.18333,10.23333,"(56.18333, 10.23333)"
2,Abee,6,Valid,EH4,107000.0,Fell,1952.0,54.21667,-113.00000,"(54.21667, -113.0)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976.0,16.88333,-99.90000,"(16.88333, -99.9)"
4,Achiras,370,Valid,L6,780.0,Fell,1902.0,-33.16667,-64.95000,"(-33.16667, -64.95)"

╔═════════════════════════════════════════════════╗
║     Gather basic information about the data     ║
╚═════════════════════════════════════════════════╝
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45716 entries, 0 to 45715
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         45716 non-null  object
 1   id           45716 non-null  int64
 2   nametype     45716 non-null  object
 3   recclass     45716 non-null  object
 4   mass (g)     45585 non-null  float64
 5   fall         45716 non-null  object
 6   year         45425 non-null  float64
 7   reclat       38401 non-null  float64
 8   reclong      38401 non-null  float64
 9   GeoLocation  38401 non-null  object
dtypes: float64(4), int64(1), object(5)
memory usage: 3.5+ MB

None

╔══════════════════════════════════════════════════════╗
║     Gather descriptive statistics about the data     ║
╚══════════════════════════════════════════════════════╝

                 id      mass (g)          year        reclat       reclong
count  45716.000000  4.558500e+04  45425.000000  38401.000000  38401.000000
mean   26889.735104  1.327808e+04   1991.828817    -39.122580     61.074319
std    16860.683030  5.749889e+05     25.052766     46.378511     80.647298
min        1.000000  0.000000e+00    860.000000    -87.366670   -165.433330
25%    12688.750000  7.200000e+00   1987.000000    -76.714240      0.000000
50%    24261.500000  3.260000e+01   1998.000000    -71.500000     35.666670
75%    40656.750000  2.026000e+02   2003.000000      0.000000    157.166670
max    57458.000000  6.000000e+07   2101.000000     81.166670    354.473330

╔═══════════════════════════════════════════════════════╗
║     How many rows and columns are in the dataset?     ║
╚═══════════════════════════════════════════════════════╝
Rows = 45716
Columns = 10

╔════════════════════════════╗
║     Inspect data types     ║
╚════════════════════════════╝

name            object
id               int64
nametype        object
recclass        object
mass (g)       float64
fall            object
year           float64
reclat         float64
reclong        float64
GeoLocation     object
dtype: object

-------

object     5
float64    4
int64      1
Name: count, dtype: int64

╔═══════════════════════════════════════╗
║     Are there any duplicate rows?     ║
║            Check duplicates           ║
╚═══════════════════════════════════════╝
Unique    45716

╔══════════════════════════════════════════════╗
║     Are there NaNs/Nulls in any columns?     ║
║             Check missing values             ║
╚══════════════════════════════════════════════╝
             Null Count  Null Percentage
mass (g)            131              0.0
year                291              1.0
reclat             7315             16.0
reclong            7315             16.0
GeoLocation        7315             16.0
╔══════════════════════════════════╗
║     Count inf in all columns     ║
╚══════════════════════════════════╝
name           0
id             0
nametype       0
recclass       0
mass (g)       0
fall           0
year           0
reclat         0
reclong        0
GeoLocation    0
dtype: int64

# **Clean dataframe**

In [6]:
df1 = df0.copy()

# Rename column/s
df1.rename({"mass (g)": "mass_in_grams", "reclat": "lat", "reclong": "long"}, axis=1, inplace=True)

# Drop unnecessary column/s
df1.drop(['GeoLocation'], axis=1, inplace=True)

# Fill NaNs with 0
df1 = df1.fillna(0)

# Fix mass_in_grams column
# df1['mass_in_grams'] = df1['mass_in_grams'].str.replace(',', '').astype(float)
df1['mass_in_grams'] = df1['mass_in_grams'].astype(float)

# Standardize string case of 'recclass' to account for any differences in cases (upper/lower)
df1['recclass'] = df1['recclass'].apply(lambda x: x.lower().capitalize() if isinstance(x, str) else x)

display(df1.head())

,name,id,nametype,recclass,mass_in_grams,fall,year,lat,long
0,Aachen,1,Valid,L5,21.0,Fell,1880.0,50.77500,6.08333
1,Aarhus,2,Valid,H6,720.0,Fell,1951.0,56.18333,10.23333
2,Abee,6,Valid,Eh4,107000.0,Fell,1952.0,54.21667,-113.00000
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976.0,16.88333,-99.90000
4,Achiras,370,Valid,L6,780.0,Fell,1902.0,-33.16667,-64.95000

## **Extract country name from geographical coordinates**
- Using shapefile data from https://www.naturalearthdata.com/downloads/10m-cultural-vectors/10m-admin-0-countries/

In [15]:
from shapely.geometry import Point

import geopandas as gpd

# Load shapefile data
world = gpd.read_file(r'/kaggle/input/ne-10m-admin-0-countries/ne_10m_admin_0_countries.shp')

# Create Point geometries from latitudes and longitudes
geometry = []
for lat, long in zip(df1['lat'], df1['long']):
    if pd.isnull(lat) or pd.isnull(long):
        geometry.append(None)     # Assign None if either lat or long is NaN
    else:
        geometry.append(Point(long, lat))

gdf_points = gpd.GeoDataFrame(df1, geometry=geometry, crs=world.crs)
joined = gpd.sjoin(gdf_points, world[[ 'geometry', 'SOVEREIGNT']], predicate='within')
country_info = joined[['SOVEREIGNT']]
df1 = df1.merge(country_info, left_index=True, right_index=True, how='left')
df1 = df1.rename(columns={'SOVEREIGNT': 'country'})

df1.head()

DriverError: /kaggle/input/ne-10m-admin-0-countries/ne_10m_admin_0_countries.shp: No such file or directory

# **1) What are the spatial distribution patterns of meteorite landings worldwide?**

In [7]:
# Filter out rows with NaN values in lat, long, and mass_in_grams columns
df1_filtered = df1[[ 'name', 'lat', 'long', 'mass_in_grams']].dropna(subset=[ 'name', 'lat', 'long', 'mass_in_grams']).copy()

msgboxcenter(f'Spatial distribution pattern of meteorite landings')

f = folium.Figure(width=1000, height=500)
m = folium.Map(location=df1_filtered[[ 'lat', 'long']].mean().values.tolist()).add_to(f)

for index, row in df1_filtered.iterrows():
    folium.CircleMarker(
        location=[row['lat'], row['long']],
        radius=1,
        color='blue',
        fill=True,
        fill_color='blue',
        fill_opacity=0.6,
        popup=f'Name: {row["name"]}\nMass: {row["mass_in_grams"]}g'
        ).add_to(m)

m.fit_bounds([df1_filtered[[ 'lat', 'long']].min().values.tolist(), df1_filtered[[ 'lat', 'long']].max().values.tolist()])

f

NameError: name 'df1' is not defined

In [ ]:
from folium.plugins import HeatMap
msgboxcenter("Spatial distribution Heatmap of meteorite landing Count")
# Filter out rows with NaN values in lat, long, and mass_in_grams columns
df1_filtered = df1[['lat', 'long', 'mass_in_grams']].dropna(subset=['lat', 'long', 'mass_in_grams']).copy()
df1_filtered = df1_filtered[df1_filtered['lat'] != 0]

df1_filtered = df1_filtered.groupby(['lat','long']).count().reset_index().rename(columns={'mass_in_grams': "count"})
lats_longs_mass = list(map(list, zip(df1_filtered["lat"], df1_filtered["long"], df1_filtered["count"])))

f = folium.Figure(width=1000, height=500)
m = folium.Map(location=df1_filtered[[ 'lat', 'long']].mean().values.tolist()).add_to(f)

hm = HeatMap(lats_longs_mass, use_local_extrema=False).add_to(m)

m.fit_bounds([df1_filtered[[ 'lat', 'long']].min().values.tolist(), df1_filtered[[ 'lat', 'long']].max().values.tolist()])
f

# **2) What are the top 10 countries with the highest number of recorded meteorite landings?**

In [ ]:
df1_country_count = df1.groupby(['country'])[['country']].count().rename(columns={
    "country": "meteorite_landings"
    }).sort_values(by=['meteorite_landings'], ascending=False).reset_index()
df1_country_count.head(10)

In [ ]:
fig = px.bar(
    df1_country_count.head(10).sort_values(by=['meteorite_landings'], ascending=True),
    x='meteorite_landings',
    y='country',
    log_x=True,
    width=1000,
    height=400
    )
fig.update_layout(
    title="<b>Bar Plot of Top 10 Countries with Maximum Meteorite Landings</b>",
    xaxis_title="<b>Total Meteorite Landings (Log Scale)</b>",
    yaxis_title="<b>Country</b>"
    )
fig.show()

# **3) What are the top 10 meteorite landings worldwide based on their mass?**

In [ ]:
df1_by_mass = df1.sort_values(by=['mass_in_grams'], ascending=False).reset_index(drop=True).copy()
df1_by_mass = df1_by_mass.dropna(subset=['country']).head(10)
df1_by_mass['mass_in_grams'] = df1_by_mass['mass_in_grams'].astype(int)
df1_by_mass.head(10)

In [ ]:
fig = px.scatter(df1_by_mass, y="country", x="year", color="country", size='mass_in_grams', width=1000, height=400)
fig.update_layout(
    title="<b>Scatter Plot of Top 10 Heaviest Meteorite Landings</b>",
    xaxis_title="<b>Year of Meteorite Landings</b>",
    yaxis_title="<b>Country</b>",
    legend_title="Country"
    )
fig.show()
msgboxcenter(
    "(1) The heaviest meteor landing was found in Nambia (1920).\n(2) Out of the top 10 heaviest meteorite landings, Namibia and Mexico recorded 2 each.\n(3) Out of the top 10 heaviest meteorite landings the oldest recorded was in Argentina (1575)."
    )

# **4) What is the cumulative count of meteorite landings per year over time, and what is the distribution of meteorite landings per year?**

In [ ]:
df1_by_mass = df1[(df1['year'] > 0) & (df1['year'] < 2024)]
yearly_counts = df1_by_mass['year'].value_counts().sort_index()
cumulative_counts = yearly_counts.cumsum().reset_index()

fig = px.line(cumulative_counts, x='year', y='count', log_y=True, width=1000, height=400, hover_data=[ "year", "count"])
fig.update_layout(
    title="<b>Cumulative Count of Yearly Meteorite Landing Counts</b>",
    xaxis_title="<b>Year of Meteorite Landings</b>",
    yaxis_title="<b>Cumulative Count of<br>Yearly Meteorite Landings</b>",
    )
fig.update_layout(hovermode='x unified')
fig.update_traces(line_color='orange')
fig.show()

msgboxcenter(
    "(1) Between 1973 (2454 meteorite landings) and 1974 (3145 meteorite landings) there is a slight change in slope.\n(2) Between 1978 (4217 meteorite landings) and 1979 (7263 meteorite landings) there is a sudden change in slope."
    )

print()

fig = px.bar(df1_by_mass['year'].value_counts().sort_index().reset_index(), x='year', y='count', width=1000, height=400)
fig.update_layout(
    title="<b>Bar Plot of Yearly Meteorite Landings</b>",
    xaxis_range=[ 1950, 2023 ],
    xaxis_title="<b>Year of Meteorite Landings</b>",
    yaxis_title="<b>Total Meteorite Landings</b>"
    )
fig.update_traces(marker_color='green')
fig.show()

# **5) What is the distribution of meteorite landings based on their fall/found types?**

In [ ]:
fig = px.pie(df1['fall'].value_counts().reset_index(), values='count', names='fall', width=400, height=400)
fig.update_layout(title="<b>Meteorite Landings By Fall Type</b>", )
fig.show()
msgboxcenter("Nearly 98% of the meteorite landings were in 'found' category\nVs\n Nearly 2% in 'fell' category")

# **6) What is the distribution of meteorite landings based on their class type?**

In [ ]:
df1_class = df1['recclass'].value_counts().reset_index()

total_count = df1_class['count'].sum()
df1_class['percentage'] = round((df1_class['count'] / total_count) * 100, 0)

threshold_percentage = 5

filtered_df = df1_class[df1_class['percentage'] >= threshold_percentage]

fig = px.pie(filtered_df, values='percentage', names='recclass', width=600, height=600)
fig.update_layout(title="<b>Meteorite Landings By Class Type</b>", )
fig.update_traces(textposition='inside', texttemplate='%{label}<br>%{value}%')     #textinfo='label+value')
fig.show()
msgboxcenter("Meteorite landings predominantly are of class type H5 (16%) and L6 (18%).")

# **7) What is the relationship between the year of meteorite landings and their class types, categorized by class type and count, as depicted in the bubble plot?**

In [ ]:
df1_by_class_year = df1[(df1['year'] > 0) & (df1['year'] < 2024)]
df1_by_class_year = df1_by_class_year.groupby([ 'year', 'recclass'])[['year']].size().reset_index().rename(columns={0: "count"})
df1_by_class_year['year'] = df1_by_class_year['year'].astype(int)

fig = px.scatter(df1_by_class_year[df1_by_class_year['count'] > 20], x="recclass", y="year", color="recclass", size='count', width=1200, height=600)
fig.update_layout(
    title="<b>Meteorite Landings Bubble Plot Showing Relationship between Year and Class Type by Class Type and Class Count<br></b>Minimum Count = 20",
    yaxis_range=[ 1950, 2023 ],
    xaxis_title="<b>Meteorite Landing Class</b>",
    yaxis_title="<b>Year of Meteorite Landings</b>",
    legend_title="Class"
    )
fig.show()

# **8) What is the cumulative extraterrestrial mass accumulated on Earth as a result of meteorite landings over time, and what is the distribution of extraterrestrial mass per year?**

In [ ]:
df1_by_mass = df1[(df1['year'] > 0) & (df1['year'] < 2024)]
df1_by_mass = df1_by_mass.groupby(['year'])['mass_in_grams'].sum()
cumulative_counts = df1_by_mass.cumsum().reset_index()

# Convert grams to kilograms
cumulative_counts['mass_in_grams'] = round(cumulative_counts['mass_in_grams'] * 0.001, 1)
cumulative_counts = cumulative_counts.rename({'mass_in_grams': 'mass_in_kg'}, axis='columns')

fig = px.line(cumulative_counts, x='year', y='mass_in_kg', log_y=True, width=1000, height=400, hover_data=[ "year", "mass_in_kg"])
fig.update_layout(
    title="<b>Cumulative Extraterrestrial Mass On Earth Due to Meteorite Landings</b>",
    xaxis_title="<b>Year of Meteorite Landings</b>",
    yaxis_title="<b>Cumulative mass of<br>Yearly Meteorite Landings (kg)</b>",
    )
fig.update_layout(hovermode='x unified')
fig.update_traces(line_color='magenta')
fig.show()

msgboxcenter(
    f"1) Total extraterrestrial mass accumulated as of {cumulative_counts.iloc[-1]['year'].astype(int)} was {round(cumulative_counts.iloc[-1]['mass_in_kg']):,}kg ({round(cumulative_counts.iloc[-1]['mass_in_kg']*0.00110231):,} US tons)\n2) Huge spike from 1519 (234.6kg) to 1575 (50,235kg)"
    )

df1_by_mass = df1[(df1['year'] > 0) & (df1['year'] < 2024)]
df1_by_mass = df1_by_mass.groupby(['year'])['mass_in_grams'].sum().sort_index().reset_index()
df1_by_mass['mass_in_grams'] = round(df1_by_mass['mass_in_grams'] * 0.001, 1)
df1_by_mass['year'] = df1_by_mass['year'].astype(int)
df1_by_mass = df1_by_mass.rename({'mass_in_grams': 'mass_in_kg'}, axis='columns')

fig = px.bar(df1_by_mass, x='year', y='mass_in_kg', log_y=True, width=1000, height=400)
fig.update_layout(
    title="<b>Bar Plot of Mass of Meteorite Landings by Year</b>",
    xaxis_range=[ 1500, 2013 ],
    xaxis_title="<b>Year of Meteorite Landings</b>",
    yaxis_title="<b>Total Mass of Meteorite Landings</b>"
    )
fig.update_traces(marker_color='green')
fig.show()

# **9) What are the top 10 meteorite classes based on their average mass within the class and their class count?**

In [ ]:
df1_class = df1[df1['mass_in_grams'] > 0].copy()
# df1_class= df1_class.groupby('recclass')['mass_in_grams'].mean().reset_index()
df1_class = df1.groupby('recclass')['mass_in_grams'].agg([ 'mean', 'count']).reset_index()
df1_class = df1_class.rename({'mean': 'mass_in_grams'}, axis='columns')
df1_class['mass_in_kg'] = round(df1_class['mass_in_grams'] * 0.001, 1)
df1_class = df1_class.sort_values(by='count', ascending=False).reset_index(drop=True)
df1_class.head(10)

In [ ]:
import plotly.graph_objects as go

bar_trace = go.Bar(x=df1_class.head(10)['recclass'], y=df1_class.head(10)['mass_in_kg'], name='Average Mass of Meteorite (kg)')
scatter_trace = go.Scatter(
    x=df1_class.head(10)['recclass'], y=df1_class.head(10)['count'], mode='markers+lines', name='Meteorite Class Count', yaxis='y2'
    )
fig = go.Figure(data=[ bar_trace, scatter_trace ])
fig.update_layout(
    xaxis=dict(title='<b>Meteorite Class</b>'),
    yaxis=dict(title='<b>Average Mass of Meteorite (kg)</b>'),
    yaxis2=dict(title='<b>Meteorite Class Count</b>', overlaying='y', side='right'),
    title="<b>Bar Plot of Average Meteorite Mass (in kg) by Class, Sorted by Class Count</b>",
    legend=dict(orientation='h', yanchor='top', y=1.15, xanchor='right', x=1),
    width=1000,
    height=400
    )
fig.show()

msgboxcenter(f'Based on maximum class count the average meteorite mass is about 1.5kg for Class L6.')